{% extends 'layout.html' %}
{% block head %}
{% endblock %}
{% block style %}
    <style>
        div {
            /*border: 1px solid red;*/
        }

        #map {
            float: left;
            height: 400px;
            width: 100%;
        }

        .map-icon-text {
            speak: none;
            color: #FFFFFF;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 48px;

            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="tpl-page-container tpl-page-header-fixed">
        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                location
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">

                    {% if ptype == 1 %}
                        <li class="tpl-left-nav-item">
                            <a href="/hpp/area/detail?location={{ poutput['district_list'][0]['PostcodeDistrict'] }}&price-selection={{ qry_str['price'] }}&daterange-selection={{ qry_str['date'] }}"
                               class="nav-link tpl-left-nav-link-list active">
                                <i class="am-icon-location-arrow"></i>
                                <span>{{ poutput['district_list'][0]['PostcodeDistrict'] }}</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if ptype == 2 %}
                        <li class="tpl-left-nav-item">
                            <a href="/hpp/area/detail?location={{ qry_str['loc'] }}&price-selection={{ qry_str['price'] }}&daterange-selection={{ qry_str['date'] }}"
                               class="nav-link tpl-left-nav-link-list active">
                                <i class="am-icon-location-arrow"></i>
                                <span>{{ qry_str['loc'] }}</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if ptype ==3 %}
                        {% if bexist==1 and poutput['district_list']|length>0 %}
                            <li class="tpl-left-nav-item">
                                <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                                    <i class="am-icon-list"></i>
                                    <span>{{ qry_str['loc'] }}</span>
                                    <i class="tpl-left-nav-content tpl-badge-danger">
                                        {{ poutput['district_list']|length }}
                                    </i>
                                    <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                                </a>
                                <ul class="tpl-left-nav-sub-menu" style="display: none;">
                                    {% for p in poutput['district_list'] %}
                                        <li>
                                            <a href="/hpp/area/detail?location={{ p.PostcodeDistrict }}&price-selection={{ qry_str['price'] }}&daterange-selection={{ qry_str['date'] }}">
                                                <i class="am-icon-angle-right"></i>
                                                <span><b>{{ p.PostcodeDistrict }}</b></span>
                                                <i class="tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                            </a>
                                            {% if poutput['district_hpp_analysis'][p.PostcodeDistrict]['_incr_rate']['_total']>poutput['hpp_analysis']['_incr_rate']['_total'] %}
                                                <span class="am-badge am-badge-danger">
                                            {% else %}
                                                <span class="am-badge am-badge-success">
                                            {% endif %}
                                            {{ 100*poutput['district_hpp_analysis'][p.PostcodeDistrict]['_incr_rate']['_total'] }}％
                                            </span>
                                            {% if poutput['district_hpp_analysis'][p.PostcodeDistrict]['_avg_price']['_total']>poutput['hpp_analysis']['_avg_price']['_total'] %}
                                                <span class="am-badge am-badge-danger">
                                            {% else %}
                                                <span class="am-badge am-badge-success">
                                            {% endif %}
                                            {{ poutput['district_hpp_analysis'][p.PostcodeDistrict]['_avg_price']['_total']|round|int }}
                                            </span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>


        <div class="tpl-content-wrapper">
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> Map
                    </div>
                </div>
                <input type="button" class="am-btn am-btn-primary am-btn-min" id="show-btn" onclick="display('map');" value="Hide"/>
                <div class="tpl-block">
                    <div class="am-g">
                        <div id="map"></div>
                    </div>
                </div>
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> Summarise
                    </div>
                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="row">
                            <div class="am-u-lg-4 am-u-md-4 am-u-sm-12">
                                <div class="dashboard-stat blue">
                                    <div class="visual">
                                        <i class="am-icon-comments-o"></i>
                                    </div>
                                    <div class="details">

                                        <div class="number">
                                            {{ poutput['hpp_analysis']['_count']['_total'] }}
                                        </div>
                                        <div class="desc"> Total Sales</div>
                                    </div>
                                    <a class="more" href="#"> More
                                        <i class="m-icon-swapright m-icon-white"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="am-u-lg-4 am-u-md-4 am-u-sm-12">
                                <div class="dashboard-stat red">
                                    <div class="visual">
                                        <i class="am-icon-bar-chart-o"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number">
                                            £{{ poutput['hpp_analysis']['_avg_price']['_total'] }}</div>
                                        <div class="desc"> Average Price</div>
                                    </div>
                                    <a class="more" href="#"> More
                                        <i class="m-icon-swapright m-icon-white"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="am-u-lg-4 am-u-md-4 am-u-sm-12">
                                <div class="dashboard-stat green">
                                    <div class="visual">
                                        <i class="am-icon-apple"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number"> {{ poutput['hpp_analysis']['_incr_rate']['_total']*100 }}%</div>
                                        <div class="desc"> Increase rate</div>
                                    </div>
                                    <a class="more" href="#"> More
                                        <i class="m-icon-swapright m-icon-white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="am-u-lg-6 am-u-md-6 am-u-sm-12">
                                <div class="tpl-echarts tpl-chart-mb" id="tpl-echarts-E">

                                </div>
                            </div>
                            <div class="am-u-lg-6 am-u-md-6 am-u-sm-12">
                                <div class="tpl-echarts tpl-chart-mb" id="tpl-echarts-F">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> Details
                    </div>
                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="row">
                            <div class="am-u-lg-6 am-u-md-6 am-u-sm-12">
                                <div class="tpl-echarts tpl-chart-mb" id="tpl-echarts-C">

                                </div>
                            </div>
                            <div class="am-u-lg-6 am-u-md-6 am-u-sm-12">
                                <div class="tpl-echarts tpl-chart-mb" id="tpl-echarts-D">

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="am-u-lg-6 am-u-md-6 am-u-sm-12">
                                <div class="tpl-echarts tpl-chart-mb" id="tpl-echarts-A">

                                </div>
                            </div>
                            <div class="am-u-lg-6 am-u-md-6 am-u-sm-12">
                                <div class="tpl-echarts tpl-chart-mb" id="tpl-echarts-B">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>

    </div>

{% endblock %}
{% block jscript %}
    <!--
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDubq5gCNwyhQ48XZDgcGxjAPEVn_hVjY0&callback=initMap"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='map-icon/css/map-icons.css') }} ">
    <script src="{{ url_for('static', filename='map-icon/js/map-icons.js') }} "></script>
    -->
    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDubq5gCNwyhQ48XZDgcGxjAPEVn_hVjY0&v=3.exp&sensor=false"></script>

    <!-- Map Icons -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='map-icon/css/map-icons.css') }} ">
    <script type="text/javascript" src="{{ url_for('static', filename='map-icon/js/map-icons.js') }} "></script>

    <script>
        function display(id) {
            var traget = document.getElementById(id);
            if (traget.style.display == "none") {
                traget.style.display = "";
                document.getElementById("show-btn").value = "Hide";
            } else {
                traget.style.display = "none";
                document.getElementById("show-btn").value = "Show";
            }
        }

    </script>

    <script>
        var js_qry_str = {{ qry_str |tojson|safe }};
        var js_exist = {{ bexist }};
        var js_type = {{ ptype }};
        var js_poutput = {{ poutput|tojson|safe }};
        console.log(js_exist);
        console.log(js_type);
        console.log(js_poutput);
    </script>
    <script>

        if (js_exist === 1) {
            var districtList = new Array();
            for (var key in js_poutput.district_list) {
                if (districtList.indexOf(js_poutput.district_list[key].PostcodeAreaCode) == -1) {
                    districtList.push(js_poutput.district_list[key].PostcodeAreaCode);
                }
            }

            var map;
            var infoWindow;
            var markers = [];
            var contentString;
            function initialise() {

                var pos = {
                    lat: parseFloat(js_poutput.district_list[0].Latitude),
                    lng: parseFloat(js_poutput.district_list[0].Longitude)
                };


                var mapOptions = {
                    zoom: 12,
                    center: new google.maps.LatLng(pos),
                    scrollwheel: true,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    styles: [
                        {stylers: [{visibility: 'simplified'}]},
                        {elementType: 'labels', stylers: [{visibility: 'off'}]}
                    ]
                };


                map = new google.maps.Map(document.getElementById('map'), mapOptions);


                infoWindow = new google.maps.InfoWindow();
                for (var j = 0; j < js_poutput.district_list.length; j++) {
                    var icon_color;
                    if (js_poutput['district_hpp_analysis'][js_poutput.district_list[j].PostcodeDistrict]['_incr_rate']['_total'] > js_poutput['hpp_analysis']['_incr_rate']['_total']
                        || js_poutput['district_hpp_analysis'][js_poutput.district_list[j].PostcodeDistrict]['_avg_price']['_total'] > js_poutput['hpp_analysis']['_avg_price']['_total']) {
                        icon_color = '#d95c4c';
                    } else {
                        icon_color = '#00CCBB';
                    }

                    markers[j] = new Marker({
                        map: map,
                        position: new google.maps.LatLng(js_poutput.district_list[j].Latitude, js_poutput.district_list[j].Longitude),
                        icon: {
                            path: SQUARE_PIN,
                            fillColor: icon_color,
                            fillOpacity: 1,
                            strokeColor: '',
                            strokeWeight: 0
                        },
                        map_icon_label: '<span class="map-icon-text">' + js_poutput.district_list[j].PostcodeDistrict + '</span>',
                        district_id: js_poutput.district_list[j].PostcodeDistrict
                    });
                    google.maps.event.addListener(markers[j], 'click', showInfoWindow);
                }

            };

            google.maps.event.addDomListener(window, 'load', initialise);


            function showInfoWindow() {
                var marker = this;
                var district_id = marker.district_id;
                var lat = marker.position.lat();
                var lng = marker.position.lng();
                var index = -1;
                for (var i = 0; i < js_poutput.district_list.length; i++) {
                    if (js_poutput.district_list[i].PostcodeDistrict == district_id) {
                        index = i;
                    }
                }
                if (index != -1) {
                    contentString = '<div id="content">' +
                        '<div id="siteNotice">' +
                        '</div>' +
                        '<h1 id="firstHeading" class="firstHeading"><PostcodeDistrict></h1>' +
                        '<div id="bodyContent">' +
                        '<b><City>,<Region></b><br />' +
                        'Households:<Households>, Population:<Population><br />' +
                        'History Sales:<_count_total><br />' +
                        'Average Price:<_avg_price_total><br />' +
                        'Average Increase Rate:<_incr_rate_total><br />' +
                        'D:<D>, S:<S>, T:<T>, F:<F>, O:<O><br />' +
                        'New:<Y>, Old:<N></p><br />' +
                        '<a href="<Link>">see details</a> ' +
                        '</div>' +
                        '</div>';
                    contentString = contentString.replace('<PostcodeDistrict>', district_id);
                    contentString = contentString.replace('<City>', js_poutput.district_list[index].City);
                    contentString = contentString.replace('<Region>', js_poutput.district_list[index].Region);
                    contentString = contentString.replace('<Households>', js_poutput.district_list[index].Households);
                    contentString = contentString.replace('<Population>', js_poutput.district_list[index].Population);
                    contentString = contentString.replace('<_count_total>', js_poutput['district_hpp_analysis'][district_id]['_count']['_total']);
                    contentString = contentString.replace('<_avg_price_total>', js_poutput['district_hpp_analysis'][district_id]['_avg_price']['_total']);
                    contentString = contentString.replace('<_incr_rate_total>', js_poutput['district_hpp_analysis'][district_id]['_incr_rate']['_total']);
                    contentString = contentString.replace('<D>', js_poutput['district_hpp_analysis'][district_id]['_D']['_total']);
                    contentString = contentString.replace('<S>', js_poutput['district_hpp_analysis'][district_id]['_S']['_total']);
                    contentString = contentString.replace('<T>', js_poutput['district_hpp_analysis'][district_id]['_T']['_total']);
                    contentString = contentString.replace('<F>', js_poutput['district_hpp_analysis'][district_id]['_F']['_total']);
                    contentString = contentString.replace('<O>', js_poutput['district_hpp_analysis'][district_id]['_O']['_total']);
                    contentString = contentString.replace('<Y>', js_poutput['district_hpp_analysis'][district_id]['_Y']['_total']);
                    contentString = contentString.replace('<N>', js_poutput['district_hpp_analysis'][district_id]['_N']['_total']);
                    contentString = contentString.replace('<Link>', '/hpp/area/detail?location=' + district_id + '&price-selection=' + js_qry_str.price + '&daterange-selection=' + js_qry_str.date);

                    infoWindow.setContent(contentString);
                    infoWindow.open(map, marker);
                }
            }
        }


    </script>
    <script src="{{ url_for('static',filename='assets/js/echarts.min.js') }}"></script>
    <script type="text/javascript">
        if (js_exist === 1) {

            var x_axis_item_list = new Array();
            var _count_list = new Array();
            var _D_list = new Array();
            var _S_list = new Array();
            var _T_list = new Array();
            var _F_list = new Array();
            var _O_list = new Array();
            var _N_list = new Array();
            var _Y_list = new Array();
            var _avg_price_list = new Array();
            var _incr_rate_list = new Array();

            for (var k in js_poutput.hpp_analysis._count) {
                if (k != '_total') {
                    x_axis_item_list.push(k);
                    _count_list.push(js_poutput.hpp_analysis._count[k]);
                    _D_list.push(js_poutput.hpp_analysis._D[k]);
                    _S_list.push(js_poutput.hpp_analysis._S[k]);
                    _T_list.push(js_poutput.hpp_analysis._T[k]);
                    _F_list.push(js_poutput.hpp_analysis._F[k]);
                    _O_list.push(js_poutput.hpp_analysis._O[k]);
                    _N_list.push(js_poutput.hpp_analysis._N[k]);
                    _Y_list.push(js_poutput.hpp_analysis._Y[k]);
                    _avg_price_list.push(js_poutput.hpp_analysis._avg_price[k]);
                    _incr_rate_list.push(js_poutput.hpp_analysis._incr_rate[k] * 100);
                }
            }

            //=======================
            //chart for house property type
            //D = Detached, S = Semi-Detached, T = Terraced, F = Flats/Maisonettes, O = Other 
            //=======================
            var myChartA = echarts.init(document.getElementById('tpl-echarts-A'));

            optionA = {
                title: {
                    text: ''
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['Total Sales', 'Detached', 'Semi-Detached', 'Terraced', 'Flats/Maisonettes', 'Other']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: x_axis_item_list //['周一', '周二', '周三', '周四', '周五', '周六', '周日']
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name: 'Total Sales',
                        type: 'line',
                        data: _count_list //[120, 132, 101, 134, 90, 230, 210]
                    },
                    {
                        name: 'Detached',
                        type: 'line',
                        data: _D_list  //[220, 182, 191, 234, 290, 330, 310]
                    },
                    {
                        name: 'Semi-Detached',
                        type: 'line',
                        data: _S_list //[150, 232, 201, 154, 190, 330, 410]
                    },
                    {
                        name: 'Terraced',
                        type: 'line',
                        data: _T_list //[320, 332, 301, 334, 390, 330, 320]
                    },
                    {
                        name: 'Flats',
                        type: 'line',
                        data: _F_list//[820, 932, 901, 934, 1290, 1330, 1320]
                    },
                    {
                        name: 'Other',
                        type: 'line',
                        data: _O_list//[820, 932, 901, 934, 1290, 1330, 1320]
                    }
                ]
            };
            myChartA.setOption(optionA);

            //=======================
            //chart for house house New/Old
            //Y:New built, N: Old established
            //=======================
            var myChartB = echarts.init(document.getElementById('tpl-echarts-B'));
            optionB = {
                title: {
                    text: ''
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['Total Sales', 'New', 'Old']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: x_axis_item_list //['周一', '周二', '周三', '周四', '周五', '周六', '周日']
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name: 'Total Sales',
                        type: 'line',
                        data: _count_list //[120, 132, 101, 134, 90, 230, 210]
                    },
                    {
                        name: 'New',
                        type: 'line',
                        data: _Y_list  //[220, 182, 191, 234, 290, 330, 310]
                    },
                    {
                        name: 'Old',
                        type: 'line',
                        data: _N_list //[150, 232, 201, 154, 190, 330, 410]
                    }
                ]
            };
            myChartB.setOption(optionB);

            //=======================
            //chart for house house Average Price
            //=======================
            var myChartC = echarts.init(document.getElementById('tpl-echarts-C'));
            optionC = {
                title: {
                    text: ''
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['Average Price']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    show: true,
                    feature: {
                        dataView: {readOnly: false},
                        magicType: {type: ['line', 'bar']},
                        restore: {},
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: x_axis_item_list //['周一', '周二', '周三', '周四', '周五', '周六', '周日']
                },
                yAxis: {
                    type: 'value',
                    axisLabel: {
                        formatter: '£{value}'
                    }
                },
                series: [
                    {
                        name: 'Average Price',
                        type: 'line',
                        data: _avg_price_list, //[120, 132, 101, 134, 90, 230, 210]
                        markPoint: {
                            data: [
                                {type: 'max', name: 'Max'},
                                {type: 'min', name: 'Min'}
                            ]
                        },
                        markLine: {
                            data: [
                                {type: 'average', name: 'Average'}
                            ]
                        }
                    }
                ]
            };
            myChartC.setOption(optionC);

            //=======================
            //chart for house Increase Rate
            //=======================
            var myChartD = echarts.init(document.getElementById('tpl-echarts-D'));
            optionD = {
                title: {
                    text: ''
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['Increase Rate']
                },

                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    show: true,
                    feature: {
                        dataView: {readOnly: false},
                        magicType: {type: ['line', 'bar']},
                        restore: {},
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: x_axis_item_list //['周一', '周二', '周三', '周四', '周五', '周六', '周日']
                },
                yAxis: {
                    type: 'value',
                    axisLabel: {
                        formatter: '{value} %'
                    }
                },
                series: [
                    {
                        name: 'Increase Rate',
                        type: 'line',
                        data: _incr_rate_list, //[120, 132, 101, 134, 90, 230, 210]
                        markPoint: {
                            data: [
                                {type: 'max', name: 'Max'},
                                {type: 'min', name: 'Min'}
                            ]
                        },
                        markLine: {
                            data: [
                                {type: 'average', name: 'Average'}
                            ]
                        }
                    }
                ]
            };
            myChartD.setOption(optionD);

            //=======================
            //chart for Property Type
            //D = Detached, S = Semi-Detached, T = Terraced, F = Flats/Maisonettes, O = Other 
            //=======================
            var myChartE = echarts.init(document.getElementById('tpl-echarts-E'));
            optionE = {
                title: {
                    text: 'Property Type',
                    subtext: '',
                    x: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: ['Detached', 'Semi-Detached', 'Terraced', 'Flats/Maisonettes', 'Other']
                },
                series: [
                    {
                        name: 'House Property Type',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '60%'],
                        data: [
                            {value: js_poutput.hpp_analysis._D._total, name: 'Detached'},
                            {value: js_poutput.hpp_analysis._S._total, name: 'Semi-Detached'},
                            {value: js_poutput.hpp_analysis._T._total, name: 'Terraced'},
                            {value: js_poutput.hpp_analysis._F._total, name: 'Flats/Maisonettes'},
                            {value: js_poutput.hpp_analysis._O._total, name: 'Other'}
                        ],
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
            myChartE.setOption(optionE);

            //=======================
            //chart for house Increase Rate
            //=======================
            var myChartF = echarts.init(document.getElementById('tpl-echarts-F'));
            optionF = {
                title: {
                    text: 'NEW/OLD',
                    subtext: '',
                    x: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: ['NEW', 'OLD']
                },
                series: [
                    {
                        name: 'NEW/OLD',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '60%'],
                        data: [
                            {value: js_poutput.hpp_analysis._Y._total, name: 'NEW'},
                            {value: js_poutput.hpp_analysis._N._total, name: 'OLD'}
                        ],
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
            myChartF.setOption(optionF);
        }
    </script>
{% endblock %}