<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            float: left;
            height: 100%;
            width: 79%;
        }

        #content-window {
            float: left;
            font-family: 'Roboto', 'sans-serif';
            height: 100%;
            line-height: 30px;
            padding-left: 10px;
            width: 19%;
        }
    </style>
</head>
<body>
<div id="map"></div>
<div id="content-window"></div>

<!-- Replace the value of the key parameter with your own API key. -->
<!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkUOdZ5y7hMm0yrcCQoCvLwzdM6M8s5qk&callback=initialize">-->
<!-- <script src="https://maps.google.com/maps/api/js?sensor=false"></script> -->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDubq5gCNwyhQ48XZDgcGxjAPEVn_hVjY0&callback=initMap"></script>
<script>

    var map;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: {lat: 37.06, lng: -95.68}
        });

        postcodelist = ["BR", "CR", "E", "EC", "EN", "GU", "HA", "IG", "KT", "N", "NW", "RM", "SE", "SM", "SW", "TW", "UB", "W", "WC", "WD"];

        for (var i = 0; i < postcodelist.length; i++) {
            var georssLayer = new google.maps.KmlLayer({
                map: map,
                //suppressInfoWindows: true,
                url: 'https://www.doogal.co.uk/kml/' + postcodelist[i] + '.kml'
            });
            georssLayer.setMap(map);
            georssLayer.addListener('click', function (kmlEvent) {
                var text = kmlEvent.featureData.description;
                console.log(text);
            });
        }
        /*
         function showInContentWindow(text) {
         var sidediv = document.getElementById('content-window');
         sidediv.innerHTML = text;
         }*/

        /*
         var centerControlDiv = document.createElement('div');
         var centerControl = new CenterControl(centerControlDiv, map);

         centerControlDiv.index = 1;
         map.controls[google.maps.ControlPosition.TOP_CENTER].push(centerControlDiv);
         */
    }

</script>
</body>
</html>