<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html, body {
          height: 100%;
          margin: 0;
          padding: 0;
        }
        #map {
          float: left;
          height: 100%;
          width: 79%;
        }
        #content-window {
          float: left;
          font-family: 'Roboto','sans-serif';
          height: 100%;
          line-height: 30px;
          padding-left: 10px;
          width: 19%;
        }
    </style>
</head>
<body>
<div id="map"></div>

<!-- Replace the value of the key parameter with your own API key. -->
<!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkUOdZ5y7hMm0yrcCQoCvLwzdM6M8s5qk&callback=initialize">-->
<!-- <script src="https://maps.google.com/maps/api/js?sensor=false"></script> -->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDubq5gCNwyhQ48XZDgcGxjAPEVn_hVjY0&callback=initMap"></script>
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 5,
            center: {lat: 50.9, lng: -1.4}
        });


        var georssLayer = new google.maps.KmlLayer({
            map: map,
            //suppressInfoWindows: true,
            url: 'https://github.com/shortdistance/test/blob/master/gb_region.kmz?raw=true',
            //url: 'https://raw.githubusercontent.com/shortdistance/test/master/SO45.kml'
        });
    }

</script>
</body>
</html>