{% extends 'layout.html' %}
{% block head %}
{% endblock %}
{% block style %}
    <style xmlns="http://www.w3.org/1999/html">
        div {
            /*border: 1px solid red;*/
        }

        #map {
            float: left;
            height: 400px;
            width: 100%;
        }

        .map-icon-text {
            speak: none;
            color: #FFFFFF;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 48px;

            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .price_font {
            color: #ff4949;

        }
    </style>
{% endblock %}

{% block body %}

    <div class="tpl-page-container tpl-page-header-fixed">

        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                location
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                    {% if ptype == 1 or ptype == 2 %}
                        <li class="tpl-left-nav-item">
                            <a href="/sale/area/detail?location={{ qry_str['loc'] }}&price-selection={{ qry_str['price'] }}&type-selection={{ qry_str['type'] }}"
                               class="nav-link tpl-left-nav-link-list active">
                                <i class="am-icon-location-arrow"></i>
                                <span>{{ qry_str['loc'] }}</span>
                            </a>
                        </li>
                    {% else %}
                        {% if bexist==1 and poutput['district_list']|length>0 %}
                            <li class="tpl-left-nav-item">
                                <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                                    <i class="am-icon-list"></i>
                                    <span>{{ qry_str['loc'] }}</span>
                                    <i class="tpl-left-nav-content tpl-badge-danger">
                                        {{ poutput['district_list']|length }}
                                    </i>
                                    <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                                </a>
                                <ul class="tpl-left-nav-sub-menu" style="display: none;">
                                    {% for p in poutput['district_list'] %}
                                        <li>
                                            <a href="/sale/area/detail?location={{ p.PostcodeDistrict }}&price-selection={{ qry_str['price'] }}&type-selection={{ qry_str['type'] }}">
                                                <i class="am-icon-angle-right"></i>
                                                <span><b>{{ p.PostcodeDistrict }}</b></span>
                                                <i class="tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>


        <div class="tpl-content-wrapper" id="property-list-content">
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> Property List
                    </div>

                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="tpl-table-images">
                            {% for p in poutput.sale_analysis.listing %}
                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                                    <div class="tpl-table-images-content">
                                        <div class="tpl-table-images-content-i-time">{{ p.first_published_date }}</div>
                                        <a href="javascript:;" class="tpl-table-images-content-i">
                                            <div class="tpl-table-images-content-i-info">
                                            <span class="ico">
                                                {% if p.agent_logo %}
                                                    <img src="{{ p.agent_logo }}" alt=""/>
                                                {% endif %}
                                                {% if p.agent_phone %}
                                                    {{ p.agent_phone }}
                                                {% endif %}
                                            </span>
                                            </div>
                                            <span class="tpl-table-images-content-i-shadow"></span>
                                            <img src="{{ p.image_354_255_url }}" alt="">
                                        </a>
                                        <div class="tpl-table-images-content-block">
                                            <div class="tpl-i-title tpl-i-font">
                                                {% if p.num_bathrooms %}
                                                    {{ p.num_bathrooms }} bath rooms,
                                                {% else %}
                                                    * bath rooms,
                                                {% endif %}
                                                {% if p.num_bedrooms %}
                                                    {{ p.num_bedrooms }} bed rooms,
                                                {% else %}
                                                    * bed rooms,
                                                {% endif %}
                                                {% if p.property_type %}
                                                    {{ p.property_type }},
                                                {% endif %}
                                                {% if p.street_name %}
                                                    {{ p.street_name }}
                                                {% endif %}
                                            </div>
                                            <div class="tpl-i-more">
                                                <ul>
                                                    <li><span class="am-text-warning">
                                                        {% if p.price %}
                                                            £{{ p.price }}
                                                        {% else %}
                                                            unknonw
                                                        {% endif %}
                                                    </span></li>
                                                </ul>
                                            </div>
                                            <div class="am-btn-toolbar">
                                                <div class="am-btn-group am-btn-group-xs tpl-edit-content-btn">
                                                    <button type="button" class="am-btn am-btn-default am-btn-success" style=" width:50% !important;"
                                                            onclick="see_property_detail('{{ p.listing_id }}');">
                                                        Details
                                                    </button>
                                                    <button type="button" class="am-btn am-btn-default am-btn-secondary" style=" width:50% !important;">Contact
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="am-u-lg-12">
                                <div class="am-cf">

                                    <div class="am-fr">
                                        <ul class="am-pagination tpl-pagination">
                                            <li class="am-disabled"><a href="#">«</a></li>
                                            <li class="am-active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">»</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <hr>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="tpl-alert"></div>
            </div>
        </div>
        <!--
        <div class="tpl-content-wrapper" id="property-detail-content" style="display:none;">
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> Property Details
                    </div>
                    <div class="tpl-block">
                        <div class="am-g">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
{% endblock %}
{% block jscript %}
    <script>
        var js_qry_str = {{ qry_str |tojson|safe }};
        var js_exist = {{ bexist }};
        var js_type = {{ ptype }};
        var js_poutput = {{ poutput|tojson|safe }};
        console.log(js_qry_str);
        console.log(js_exist);
        console.log(js_type);
        console.log(js_poutput);

        /*
         var index = -1
         var see_property_detail = function (listing_id) {
         for (var i = 0; i<js_poutput.sale_analysis.listing.length; i++) {
         if (js_poutput.sale_analysis.listing[i].listing_id == listing_id ){
         index = i;
         }
         }

         if (index != -1){
         $('#property-detail-content').css('display', '');
         $('#property-list-content').css('display', 'none');


         }
         }*/

    </script>
{% endblock %}